.password {
	border : 1px solid #3498db;
	color : #34495e;
	line-height : 1.5rem;
	text-align : center;
	transition : all 1s;
	width : 7.6%;
}

.password:focus,
.password:active {
	width : 20%;
}


.button {
	background-color : #3498db;
	border : 1px solid #bbbbbb;
	color : #ffffff;
	line-height : 1.5rem;
	outline : none;
	transition : all 200ms;
	width : 60px;
}

.button:hover {
	box-shadow : 1px 1px 2px #2980b9;
	width : 10%;
}

.button:active {
	box-shadow : none;
	position : relative;
	top : .5px;
}
