body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #333333;
	font-family: Helvetica;
}

header {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 10px 0;
	background: #4087d9;
	border-bottom: solid 20px #eaeaea;
}

span {
	font-weight: 200;
	font-size: 0.5em;
	padding-bottom: 0.5em;
	text-transform: uppercase;
}

h1 {
	padding: 30px;
	color: #fff;
	font-size: 2.6em;
	font-weight: normal;
	text-align: center;	
}

main {
margin: 30px auto;
padding: 10px 0 20px 0;
width: 40%;
background: #fff;
border-radius: 5px;
border: solid 10px rgba(173, 173, 173, 0.78);
	
}

#colorfield {
	position: relative;
	margin: 10px 60px 10px 50px;
	width: 15em;
	height: 15em;
	background: #4087d9;
	border-radius: 30px;
	float: left;
}

form {
	margin: 20px 0 20px 20px;
}

label {
	display: block;
}

.redlbl:before {
	content: "\00a0\00a0\00a0\00a0\00a0";
	background: #ff0000;
}

.bluelbl:before {
	content: "\00a0\00a0\00a0\00a0\00a0";
	background: Blue;
}


.greenlbl:before {
	content: "\00a0\00a0\00a0\00a0\00a0";
	background: #00ff1d;
}

input {
	display: block;
	margin: 10px 0px;
	vertical-align: middle;
}

/* Media Querie for 800 px */

@media screen and (max-width: 800px){
	
	#colorfield {
		width: 5em;
		height: 5em;
		float: none;
	}


}

