body {
	background : #333333;
	font-family : Helvetica;
	height : 100%;
	margin : 0;
	padding : 0;
	width : 100%;
}

header {
	background : #4087d9;
	border-bottom : solid 20px #eaeaea;
	margin : 0 0 10px 0;
	padding : 10px 0;
	width : 100%;
}

span {
	font-size : .5em;
	font-weight : 200;
	padding-bottom : .5em;
	text-transform : uppercase;
}

h1 {
	color : #ffffff;
	font-size : 2.6em;
	font-weight : normal;
	padding : 30px;
	text-align : center;
}

main {
	background : #ffffff;
	border : solid 10px rgba(173, 173, 173, .78);
	border-radius : 5px;
	margin : 30px auto;
	padding : 10px 0 20px 0;
	width : 40%;
}

#colorfield {
	background : #4087d9;
	border-radius : 30px;
	float : left;
	height : 15em;
	margin : 10px 60px 10px 50px;
	position : relative;
	width : 15em;
}

form {
	margin : 20px 0 20px 20px;
}

label {
	display : block;
}

.redlbl:before {
	background : #ff0000;
	content : '\00a0\00a0\00a0\00a0\00a0';
}

.bluelbl:before {
	background : Blue;
	content : '\00a0\00a0\00a0\00a0\00a0';
}


.greenlbl:before {
	background : #00ff1d;
	content : '\00a0\00a0\00a0\00a0\00a0';
}

input {
	display : block;
	margin : 10px 0;
	vertical-align : middle;
}

/* Customizing Range Input */

input[type=range].slider {
	margin : -3.3px 0;
	width : 100%;

	-webkit-appearance : none;
}
input[type=range].slider:focus {
	outline : none;
}
input[type=range].slider::-webkit-slider-runnable-track {
	background : #333333;
	border : 1.4px solid #bfbfbf;
	border-radius : 0;
	box-shadow : 2.3px 2.3px 1px #bfbfbf, 0 0 2.3px #cccccc;
	cursor : pointer;
	height : 25.6px;
	width : 100%;
}
input[type=range].slider::-webkit-slider-thumb {
	background : #ffffff;
	border : 0 solid #fffffe;
	border-radius : 16px;
	box-shadow : 0 0 1px #b734be, 0 0 0 #c441cb;
	cursor : pointer;
	height : 19px;
	margin-top : 1.9px;
	width : 10px;

	-webkit-appearance : none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
	background : #404040;
}
input[type=range].slider::-moz-range-track {
	background : #333333;
	border : 1.4px solid #bfbfbf;
	border-radius : 0;
	box-shadow : 2.3px 2.3px 1px #bfbfbf, 0 0 2.3px #cccccc;
	cursor : pointer;
	height : 25.6px;
	width : 100%;
}
input[type=range].slider::-moz-range-thumb {
	background : #ffffff;
	border : 0 solid #fffffe;
	border-radius : 16px;
	box-shadow : 0 0 1px #b734be, 0 0 0 #c441cb;
	cursor : pointer;
	height : 19px;
	width : 10px;
}
input[type=range].slider::-ms-track {
	background : transparent;
	border-color : transparent;
	color : transparent;
	cursor : pointer;
	height : 25.6px;
	width : 100%;
}
input[type=range].slider::-ms-fill-lower {
	background : #262626;
	border : 1.4px solid #bfbfbf;
	border-radius : 0;
	box-shadow : 2.3px 2.3px 1px #bfbfbf, 0 0 2.3px #cccccc;
}
input[type=range].slider::-ms-fill-upper {
	background : #333333;
	border : 1.4px solid #bfbfbf;
	border-radius : 0;
	box-shadow : 2.3px 2.3px 1px #bfbfbf, 0 0 2.3px #cccccc;
}
input[type=range].slider::-ms-thumb {
	background : #ffffff;
	border : 0 solid #fffffe;
	border-radius : 16px;
	box-shadow : 0 0 1px #b734be, 0 0 0 #c441cb;
	cursor : pointer;
	height : 19px;
	width : 10px;
}
input[type=range].slider:focus::-ms-fill-lower {
	background : #333333;
}
input[type=range].slider:focus::-ms-fill-upper {
	background : #404040;
}



/* Track */

input[type=range].slider {
	margin : -3.3px 0;
	width : 100%;

	-webkit-appearance : none;
}
input[type=range].slider:focus {
	outline : none;
}
input[type=range].slider::-webkit-slider-runnable-track {
	background : #333333;
	border : 1.4px solid #bfbfbf;
	border-radius : 0;
	box-shadow : 2.3px 2.3px 1px #bfbfbf, 0 0 2.3px #cccccc;
	cursor : pointer;
	height : 25.6px;
	width : 100%;
}
input[type=range].slider::-webkit-slider-thumb {
	background : #ffffff;
	border : 0 solid #fffffe;
	border-radius : 16px;
	box-shadow : 0 0 1px #b734be, 0 0 0 #c441cb;
	cursor : pointer;
	height : 19px;
	margin-top : 1.9px;
	width : 10px;

	-webkit-appearance : none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
	background : #404040;
}
input[type=range].slider::-moz-range-track {
	background : #333333;
	border : 1.4px solid #bfbfbf;
	border-radius : 0;
	box-shadow : 2.3px 2.3px 1px #bfbfbf, 0 0 2.3px #cccccc;
	cursor : pointer;
	height : 25.6px;
	width : 100%;
}
input[type=range].slider::-moz-range-thumb {
	background : #ffffff;
	border : 0 solid #fffffe;
	border-radius : 16px;
	box-shadow : 0 0 1px #b734be, 0 0 0 #c441cb;
	cursor : pointer;
	height : 19px;
	width : 10px;
}
input[type=range].slider::-ms-track {
	background : transparent;
	border-color : transparent;
	color : transparent;
	cursor : pointer;
	height : 25.6px;
	width : 100%;
}
input[type=range].slider::-ms-fill-lower {
	background : #262626;
	border : 1.4px solid #bfbfbf;
	border-radius : 0;
	box-shadow : 2.3px 2.3px 1px #bfbfbf, 0 0 2.3px #cccccc;
}
input[type=range].slider::-ms-fill-upper {
	background : #333333;
	border : 1.4px solid #bfbfbf;
	border-radius : 0;
	box-shadow : 2.3px 2.3px 1px #bfbfbf, 0 0 2.3px #cccccc;
}
input[type=range].slider::-ms-thumb {
	background : #ffffff;
	border : 0 solid #fffffe;
	border-radius : 16px;
	box-shadow : 0 0 1px #b734be, 0 0 0 #c441cb;
	cursor : pointer;
	height : 19px;
	width : 10px;
}
input[type=range].slider:focus::-ms-fill-lower {
	background : #333333;
}
input[type=range].slider:focus::-ms-fill-upper {
	background : #404040;
}




/* Media Querie for 800 px */

@media screen and (max-width: 800px) {
	#colorfield {
		float : none;
		height : 5em;
		width : 5em;
	}
}

