* {
	box-sizing : border-box;
	font-family : Helvetica;
	font-size : 16px;
	margin : 0;
	padding : 0;
}

html,
body {
	background : -webkit-linear-gradient(#3838be,rgba(56, 80, 190, .61));
	background :         linear-gradient(#3838be,rgba(56, 80, 190, .61));
	background-repeat : no-repeat;
	height : 100%;
	width : 100%;
}

form {
	border : none;
	box-shadow : 2px 5px 45px rgba(37, 22, 217, .81);
	margin : 0 auto 0 auto;
	max-width : 600px;
}



.form-container {
	background : #ffffff;
}

.header {
	background : -webkit-linear-gradient(rgba(21, 68, 224, .82),rgba(56, 82, 190, .86)) ! important;
	background :         linear-gradient(rgba(21, 68, 224, .82),rgba(56, 82, 190, .86)) !important;
	border : none;
	margin : 0 auto;
	width : 100%;
}

fieldset h1 {
	color : #ffffff;
	font-weight : 200;
	text-align : center;
	text-transform : uppercase;
}

fieldset legend {
	color : #bcbaba;
	font-weight : bold;
	letter-spacing : .2em;
	padding : 40px 0;
	text-transform : uppercase;
}


.cardinfo {
	background : #ffffff;
	border : none;
	margin : 0 auto;
	overflow : auto;
	width : 80%;
}

label,
input {
	color : #000000;
	display : block;
	margin : 20px auto;
	padding : 10px 10px 10px 20px;
	width : 80%;
}

label {
	color : rgba(128, 128, 128, .77);
	font-size : .7em;
	text-transform : uppercase;
}


button {
	background : #3ca65b;
	color : #ffffff;
	display : block;
	font-size : 2em;
	margin-top : 100px;
	padding : 25px 0;
	text-transform : uppercase;
	width : 100%;
}

/* Input Validation Styles */

input:valid {
	border : 1px solid rgba(57, 255, 37, .5);
}

input:invalid {
	border : 1px solid rgba(255, 17, 16, .5);
}
