/*-----------------------------------*/
/* ---------- HTML SETUP----------  */
/*-----------------------------------*/

* {
	box-sizing : border-box;
	font-family : Helvetica;
	margin : 0;
	padding : 0;
	/*	border: 1px solid red;*/
}

body {
	height : 100%;
	width : 100%;
}


/*-----------------------------------*/
/* ---------- FORM SETUP----------  */
/*-----------------------------------*/

#wrapper {
	margin : 30px auto;
	width : 80%;
}

form {
	margin : 0 auto;
	width : 80%;
}

fieldset {
	background : rgba(60, 60, 60, .27) url(img/world.png) no-repeat;
	background-size : cover;
	border : solid 1px rgb(149, 149, 149);
	border-radius : 10px;
	box-shadow : 11px 11px 10px #000000;
	margin-bottom : 40px;
	padding : 30px;
	width : 100%;
}

legend {
	background : -webkit-linear-gradient(#47c1d1, #415d60);
	background :         linear-gradient(#47c1d1, #415d60);
	border-radius : 10px;
	color : #ffffff;
	padding : 15px 20px;
	text-transform : uppercase;
}



/*-----------------------------------*/
/* ---------- INPUT ELEMENT SETUP----------  */
/*-----------------------------------*/

input[type='checkbox'] {
	display : inline;
	margin : 20px 0 0 30px;
	text-align : center;
}

input::-webkit-input-placeholder,
input[type='text'],
input[type='date'],
input[type='number'],
input[type='email'] {
	background : #ffffff;
	border-radius : 5px;
	color : #757b81;
	display : inline-block;
	letter-spacing : 2px;
	margin : 5px 30px 5px 30px;
	padding : 25px 35px 25px 20px;
	text-align : center;
}
input::-moz-placeholder,
input[type='text'],
input[type='date'],
input[type='number'],
input[type='email'] {
	background : #ffffff;
	border-radius : 5px;
	color : #757b81;
	display : inline-block;
	letter-spacing : 2px;
	margin : 5px 30px 5px 30px;
	padding : 15px 10px;
	text-align : center;
}
input:-ms-input-placeholder,
input[type='text'],
input[type='date'],
input[type='number'],
input[type='email'] {
	background : #ffffff;
	border-radius : 5px;
	color : #757b81;
	display : inline-block;
	letter-spacing : 2px;
	margin : 5px 30px 5px 30px;
	padding : 15px 10px;
	text-align : center;
}
input::placeholder,
input[type='text'],
input[type='date'],
input[type='number'],
input[type='email'] {
	background : #ffffff;
	border-radius : 5px;
	color : #757b81;
	display : inline-block;
	letter-spacing : 2px;
	margin : 5px 30px 5px 30px;
	padding : 15px 10px;
	text-align : center;
}

label {
	border-radius : 5px;
	color : #757b81;
	display : inline;
	letter-spacing : 2px;
	padding : 15px 20px;
	text-align : center;
}

label:hover,
label:focus {
	color : #696969;
	font-size : 1.2em;
	text-shadow : 5px 5px 10px #757b81;
}


/*-----------------------------------*/
/* ---------- ICON SETUP----------  */
/*-----------------------------------*/

.fa {
	font-size : 20px;
	margin : 5px 0;
}

.fa-cc-visa {
	background : #ffffff;
	color : #0c39cc;
}

.fa-cc-mastercard {
	background : -webkit-linear-gradient( left, #ff0000, #ff9e03);
	background :         linear-gradient( to right, #ff0000, #ff9e03);
	color : #ffffff;
}

.fa-cc-amex {
	background : #ffffff;
	color : #83a392;
}

/*-----------------------------------*/
/* ---------- BUTTON SETUP----------  */
/*-----------------------------------*/

#btnsubmit {
	background : -webkit-linear-gradient(#47c1d1, #415d60);
	background :         linear-gradient(#47c1d1, #415d60);
	border-radius : 10px;
	color : #ffffff;
	display : block;
	margin : 55px auto 10px auto;
	padding : 15px 0;
	text-align : center;
	text-transform : uppercase;
	width : 40%;
}

#btnsubmit:hover,
#btnsubmit:focus {
	background : -webkit-linear-gradient( #415d60, #47c1d1);
	background :         linear-gradient( #415d60, #47c1d1);
	cursor : pointer;
}

/* Custom CSS Attributes via JS Script */

.valid {
	border : 1px solid rgba(57, 255, 37, .5);
}

.invalid {
	border : 1px solid rgba(255, 17, 16, .5);
}

