* {
	box-sizing : border-box;
	font-family : 'Lucida Console', Monaco, monospace;
	margin : 0;
	padding : 0;
}

body {
	background-color : #333333;
}

.form-container {
	background-color : #292f47;
	box-shadow : 3px 3px 15px rgba(0, 0, 0, .71);
	height : 940px;
	margin : 0 auto;
	width : 800px;
}

h1 {
	color : #ffffff;
	font-size : 440%;
	font-weight : 100;
	margin : 20px 200px;
	padding-top : 80px;
	text-align : center;
}

p {
	color : #7383b6;
	font-size : 150%;
	text-align : center;
	text-transform : uppercase;
}

.form-container form {
	margin : 0 220px;
}

.form-container form input {
	background-color : transparent;
	border : 1px solid #7383b6;
	border-radius : 25px;
	color : #ffffff;
	display : block;
	font-size : 120%;
	letter-spacing : 5px;
	margin : 40px 0;
	padding : 20px 0;
	text-align : center;
	width : 100%;
}

.form-container form input:hover,
.form-container form input:active {
	background : #ffffff;
	color : #7383b6;
}

::-webkit-input-placeholder {
	color : #ffffff;
}

:hover::-webkit-input-placeholder {
	color : #7383b6;
}

.form-container form #btn-send {
	background : -webkit-linear-gradient(left, #ed4a5f, #f47b36);
	background :         linear-gradient(to right, #ed4a5f, #f47b36);
	cursor : pointer;
	margin-top : 90px;
}

@media screen and (max-width: 699px) {
	.form-container {
		background-color : #292f47;
		box-shadow : 3px 3px 15px rgba(0, 0, 0, .71);
		height : 100%;
		width : 100%;
	}
	h1 {
		color : #ffffff;
		font-size : 350%;
		font-weight : 100;
		margin : 0 0;
		padding-top : 30px;
		text-align : center;
	}
	p {
		color : #7383b6;
		font-size : 110;
		margin-top : 20px;
		text-align : center;
		text-transform : uppercase;
	}
	.form-container form {
		margin : 50px 0;
	}
	.form-container form input {
		background-color : transparent;
		border : 1px solid #7383b6;
		border-radius : 25px;
		color : #ffffff;
		display : block;
		font-size : 80%;
		letter-spacing : 5px;
		margin : 40px 0;
		padding : 20px 0;
		text-align : center;
		width : 100%;
	}
}


/* Custom CSS Attributes via JS Script */

.valid {
	border : 1px solid rgba(57, 255, 37, .5);
}

.invalid {
	border : 1px solid rgba(255, 17, 16, .5);
}


