* {
	box-sizing : border-box;
	line-height : normal !important;
	margin : 0;
	padding : 0;
}

body {
	background : #1f80aa;
}

.row-searchbox {
	margin : 100px auto;
	padding : 8px;
	width : 450px;
}

.row-searchbox input[type=search] {
	border : none;
	border-bottom-left-radius : 6px;
	border-top-left-radius : 6px;
	color : rgba(78, 78, 78, .99);
	cursor : pointer;
	font-weight : 720;
	padding : 16px 0;
	position : relative;
	text-align : center;
	width : 300px;
}


::-webkit-input-placeholder {
	color : rgba(118, 118, 118, .53);
	font-size : 110%;
}

.btn {
	background-color : #c4c4c4;
	border-bottom-right-radius : 5px;
	border-top-right-radius : 5px;
	height : 100%;
	padding : 13px 15px;
}

.btn .search {
	border : none;
	color : #ffffff;
	font-size : 110%;
	padding : 0;
}

@media screen and (max-width: 720px) {
	.row-searchbox input[type=search] {
		font-size : 70%;
		font-weight : 230;
		position : relative;
		width : 250px;
	}
}
