* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-family: Montserrat, Helvetica;
	font-weight: 600;
}

body {
    width: 690px;
	margin: 0 auto;
    background-image: -webkit-linear-gradient(rgb(199, 199, 199), rgba(217, 217, 217, 0.92) 85%);
    background-image: -webkit-linear-gradient(rgba(221, 221, 221, 0.62), rgba(230, 230, 230, 0.92) 85%);
    background-image: linear-gradient(rgba(221, 221, 221, 0.62), rgba(230, 230, 230, 0.92) 85%)
}


/*--------------- Form Element ------------*/

.wrapper {
		margin: 60px auto;
    padding: 30px 80px;
    width: 100%;
    height: 800px;
    background-image: -webkit-linear-gradient(bottom right, rgba(74, 74, 72, 0.81), rgba(8, 0, 98, 0.92) 85%), url(img/background.jpg);
    background-image: linear-gradient(bottom right, rgba(74, 74, 72, 0.81), rgba(8, 0, 98, 0.92) 85%), url(img/background.jpg);
    background-image: -webkit-linear-gradient(left, rgba(11, 5, 46, 0.86), rgba(21, 13, 77, 0.92), rgba(4, 13, 60, 0.89), rgba(14, 0, 44, 0.87) 85%), url(img/background.jpg);
    background-image: linear-gradient(left, rgba(11, 5, 46, 0.86), rgba(21, 13, 77, 0.92), rgba(4, 13, 60, 0.89), rgba(14, 0, 44, 0.87) 85%), url(img/background.jpg);
    background-image: -webkit-linear-gradient( left, rgba(11, 5, 46, 0.86), rgba(21, 13, 77, 0.92), rgba(4, 13, 60, 0.89), rgba(14, 0, 44, 0.87) 85%), url(img/background.jpg);
    background-image: linear-gradient( to right, rgba(11, 5, 46, 0.86), rgba(21, 13, 77, 0.92), rgba(4, 13, 60, 0.89), rgba(14, 0, 44, 0.87) 85%), url(img/background.jpg);
    background-size: cover;
    box-shadow: 0px 30px 86px -6px black;
}


/* -----------  the Header ----------- */

h1,
p {
	text-align: center;
  margin: 50px auto;
}

h1,
p a {
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 50px;
    padding: 5px;
    list-style-type: none;
    font-weight: 400;
    font-size: 30px;
    color: rgba(217, 217, 217, 0.42);
}

a:hover,
a:focus,
h1:focus,
h1:hover {
    color: white;
    border-bottom: 2px solid rgb(48, 48, 255);
}

form {
    padding-top: 20px;
}

.descr {
    color: rgba(217, 217, 217, 0.92);
    text-transform: uppercase;
    font-size: 12px;
}

.box {
    margin: 20px -10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 25px;
    width: 500px;
    border: none;
}

.box:hover,
.box:focus {
  background: rgba(255, 255, 255, 0.4);

}

span {
    margin-left: 15px;
    font-size: 14px;
}

/*.container2 p {
    margin-bottom: 40px;
}*/

.submit {
    padding: 10px 20px;
    background: rgb(48, 48, 255);
		font-weight: 700;
    border-radius: 25px;
    width: 500px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
	-webkit-transition: background-color ;
	transition: background-color ;
	cursor: pointer;
}


.submit:hover,
.submit:active {
	background: #fff;
	color: rgb(48, 48, 255);
	-webkit-transition: background 0.5s ease ;
}
